<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://leaderboard-afgtrrz.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bd005247-9d0d-4da3-bc22-b20d7ff64b7d/resourceGroups/Leaderboard/providers/Microsoft.Web/sites/leaderboard-afgtrrz</ResourceId>
    <UserName>$leaderboard-afgtrrz</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://leaderboard-afgtrrz.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>